.card {
  background-color: white;
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 1.5rem;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 .25em 0 black;

  animation-name: expandCard;
  animation-duration: .5s;
  animation-fill-mode: forwards;

  &.small {
    animation-name: shrinkCard;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  &.dark {
    @include darken;
  }

  input[type=button],
  .card-button-wrapper {
    &.dark {
      @include darken($hover: 0.5);
    }
  }

  .card-button-wrapper {
    display: flex;
    position: absolute;
    top: .5rem;
    right: .5rem;
    column-gap: .5rem;
  }

  .card-data {
    text-align: center;

    &.collapsed {
      display: none;
      height: auto;
    }
  }
}

.card-button-wrapper button {
  &.light {
    @include buttonStyle($height: 3em, $width: 3em);
  }

  &.dark {
    @include buttonStyle($color: $dark-background-color, $height: 3em, $width: 3em);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.data-fact {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.data-length {
  font-size: 1.2rem;
  margin-bottom: .6rem;
}

.fact-button {
  font-size: 1.2rem;
  @include buttonStyle($width: 10em, $height: 2em);
}

@keyframes shrinkCard {
  0% {
    width: 80%;
  }

  100% {
    width: min(40em, 50%);
  }
}

@keyframes expandCard {
  0% {
    width: min(40em, 50%);
  }

  100% {
    width: 80%;
  }
}